<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.feeasy.test"
    android:versionCode="6"
    android:versionName="0.006" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
    
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name="me.feeasy.test.FeeasyApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/feeasy_app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:name=".InitialActivity"
            android:label="@string/feeasy_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		
        <activity
            android:name=".ActivityHistory"
            android:label="@string/feeasy_app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".ActivityTerms"
            android:label="@string/feeasy_app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".ActivityPay"
            android:label="@string/feeasy_app_name"
            android:screenOrientation="portrait" >
            
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="feeasy" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:host="feeasy.me" android:scheme="http" android:pathPrefix="/a/" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:host="www.feeasy.me" android:scheme="http" android:pathPrefix="/a/" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:host="feeasy.me." android:scheme="http" android:pathPrefix="/a/" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:host="www.feeasy.me." android:scheme="http" android:pathPrefix="/a/" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:host="feeasy.me" android:scheme="https" android:pathPrefix="/a/" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:host="www.feeasy.me" android:scheme="https" android:pathPrefix="/a/" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:host="feeasy.me." android:scheme="https" android:pathPrefix="/a/" />
		    </intent-filter>
		    
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:host="www.feeasy.me." android:scheme="https" android:pathPrefix="/a/" />
		    </intent-filter>
        </activity>
        
        <activity 
            android:name=".ActivityConfirm"
            android:label="@string/feeasy_app_name"
            android:screenOrientation="portrait" >
		</activity>
		
        <activity 
            android:name=".ActivityValidate"
            android:label="@string/feeasy_app_name"
            android:screenOrientation="portrait" >
		</activity>
		
        <activity 
            android:name=".ActivityResult"
            android:label="@string/feeasy_app_name"
            android:screenOrientation="portrait" >
		</activity>
		
        <!-- <activity 
            android:name=".ActivityPayProcess"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait" >
		</activity>  -->
		
        <activity
               android:name="com.google.zxing.client.android.CaptureActivity"
               android:screenOrientation="portrait"
               android:configChanges="orientation|keyboardHidden"
               android:theme="@android:style/Theme.NoTitleBar"
               android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
    </application>

</manifest>
